
<h2>Test1</h2>

<form action="/action_page.php">
	First name: <input type="text" name="FirstName" value="Card Name"><br>
	
	<input type="submit" value="Submit">
</form>
<p>

</p>
<p>
	<a href='@Url.Action("Index","Test")' ID="test" class="btn-back btn-primary btn-lg">&laquo; Test</a>
</p>

