
@{
    ViewBag.Title = "DeckEditor";
}
<style>
	.btn-back {
		font-size: 12px;
		width: 50px;
		height: 25px;
		margin: 0 auto;
		padding: 0;
		display: table-cell;
		vertical-align: middle;
		text-align: center;
	}
</style>

<div style="text-align:center" class="jumbotron container">
	<p class="container"><a href='@Url.Action("Index","Home")' class="btn-back btn-primary btn-lg">&laquo; Back</a></p>
	<h2>DeckEditor</h2>

</div>


